.conteiner{
    grid-template-columns: 500px 300px 200px;
    /* grid-template-rows:200px 300px 150px ;
    grid-template-rows: repeat(10, 200px); */
    /* grid-column-gap: 20px;
    grid-row-gap: 30px; */
    gap: 20px;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;    /* x  */
    /* align-items: start; */        /*  y  */
}
.item{
    border: 1px solid;
    padding: 20px;
    background-color: rgb(170, 245, 245);
    /* overflow: scroll; */
}
.item-3{
    justify-self: center;
    align-self: end; 
}
.item-2{
    justify-self: center;
    align-self: center;
}
.item-4{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-7{
    grid-column-start: 2;
    grid-column-end: 4;
}
.item-6{
    grid-row-start: 3;
    grid-row-end: 5;
}
.item-8{
    grid-column: 2/4;
}